<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mytmmin.etravel">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:icon">

        <activity android:name=".Activity.Settlement.History.SettlementHistoryRequestDetails"></activity>

        <activity android:name=".Activity.Settlement.History.SettlementHistoryMain" />

        <activity
            android:name=".Activity.Settlement.Approver.SettlementApproverRequestDetails"
            android:label="Settlement Details" />

        <activity
            android:name=".Activity.Settlement.Approver.SettlementApproverMain"
            android:label="Settlement Approval" />

        <activity
            android:name=".Activity.MyTravelMainActivity"
            android:label="My Travel">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".Activity.Proposal.History.ProposalHistoryRequestDetails"
            android:label="@string/approval_history" />

        <activity
            android:name=".Activity.Proposal.History.ProposalHistoryMain"
            android:label="@string/approval_history">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <activity
            android:name=".Activity.Proposal.Approver.ProposalApproverRequestDetails"
            android:label="@string/travel_request_details" />

        <activity
            android:name=".Activity.Proposal.Approver.ProposalApproverMain"
            android:label="@string/travel_approval">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>

        <activity android:name=".MainActivity" />

    </application>

</manifest>